td {
  padding: 6px;
}

th {
  padding: 4px;
}

.likes {
  display: inline;
  font-size: 12pt;
  margin: 25px;
}

.likesCount {
  display: inline;
  margin: 6px;
}

.blogAddedBy {
  margin: 25px 0 25px 0;
}

.blogUrl {
  font-size: 14pt;
  margin: 25px 0 25px 0;
}

.card {
  margin: 25px 0 25px 0;
}

.toast {
  margin: 25px 0 25px 0;
}

.createBlog {
  margin: 25px 0 25px 0;
}

.comments {
  margin: 25px 0 25px 0;
}
